requests
pip --upgrade
uritemplate
lxml
langdetect
Pillow
vk
selenium
pytelegrambotapi
bs4
telebot
python-telegram-bot
tweepy
fake_useragent
geocoder
python-instagram
httplib2
simplejson
six
oauth2client
FacebookGraph
facebook-sdk==2.0.0